In [12]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [2]:
data = np.random.randint(0,100,(10,2))

In [3]:
data

array([[80, 34],
       [65, 20],
       [53, 66],
       [49, 15],
       [19,  8],
       [54, 69],
       [48,  9],
       [79, 30],
       [18, 38],
       [35, 87]])

to put this into a nn we need to pre process this

In [4]:
scaler_model = MinMaxScaler()

In [6]:
scaler_model.fit(data) #min and max value for each column

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [10]:
scaler_model.transform(data) #mapping all values of each column between zero and 1(to input into nn).....softmax

array([[1.        , 0.32911392],
       [0.75806452, 0.15189873],
       [0.56451613, 0.73417722],
       [0.5       , 0.08860759],
       [0.01612903, 0.        ],
       [0.58064516, 0.7721519 ],
       [0.48387097, 0.01265823],
       [0.98387097, 0.27848101],
       [0.        , 0.37974684],
       [0.27419355, 1.        ]])

In [11]:
scaler_model.fit_transform(data) #single line debba

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[1.        , 0.32911392],
       [0.75806452, 0.15189873],
       [0.56451613, 0.73417722],
       [0.5       , 0.08860759],
       [0.01612903, 0.        ],
       [0.58064516, 0.7721519 ],
       [0.48387097, 0.01265823],
       [0.98387097, 0.27848101],
       [0.        , 0.37974684],
       [0.27419355, 1.        ]])

In [13]:
mydata = np.random.randint(0,100,(50,4))

In [15]:
df = pd.DataFrame(data = mydata, columns = ['f1', 'f2', 'f3', 'f4'])
df

    f1  f2  f3  f4
0    1  57  29  72
1   80  44  57  27
2   73  18  60  23
3   93   3  55  87
4   15  76  79  62
5   81  28  37  43
6   94  94  11  62
7   36  54  51   7
8   52  58   5  84
9   99  34  59  48
10  52   0  46  54
11  93  13  35  87
12   1   0  63  81
13   7  46  52   8
14  34  39  24  97
15  76  94  41  31
16  98  96   9  48
17  90  33  37  38
18  43  98  78  33
19  23   5   1  96
20  59  42  30  36
21   6  41  33  93
22  25  19  37  68
23  11  79   6  51
24  95  67  53  75
25  43  54   9  79
26  63  58  88  15
27  61  29  81  34
28  48  15  16  82
29  78  52  21  41
30  62  46  37   8
31   3  69   2  56
32   3  44  19  18
33  95  74  75  62
34  28  29  54  76
35  21  91  42  40
36  83  96  48  45
37  26  93  66  99
38  52  64  34   2
39  30  87   3  65
40  99  16  82  17
41  20  35  68  55
42  51  40  33  39
43  45  70  28  62
44  49  44  46  27
45  64  24  41  86
46  16  20  69  36
47  53  84  87  45
48  50   0  97  96
49  37  28  43  62

In [21]:
X = df[['f1', 'f2', 'f3']]

In [17]:
X

0      1
1     80
2     73
3     93
4     15
5     81
6     94
7     36
8     52
9     99
10    52
11    93
12     1
13     7
14    34
15    76
16    98
17    90
18    43
19    23
20    59
21     6
22    25
23    11
24    95
25    43
26    63
27    61
28    48
29    78
30    62
31     3
32     3
33    95
34    28
35    21
36    83
37    26
38    52
39    30
40    99
41    20
42    51
43    45
44    49
45    64
46    16
47    53
48    50
49    37
Name: f1, dtype: int64

In [26]:
y = df['f4']

In [27]:
y

0     72
1     27
2     23
3     87
4     62
5     43
6     62
7      7
8     84
9     48
10    54
11    87
12    81
13     8
14    97
15    31
16    48
17    38
18    33
19    96
20    36
21    93
22    68
23    51
24    75
25    79
26    15
27    34
28    82
29    41
30     8
31    56
32    18
33    62
34    76
35    40
36    45
37    99
38     2
39    65
40    17
41    55
42    39
43    62
44    27
45    86
46    36
47    45
48    96
49    62
Name: f4, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [30]:
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42) #random_state = seed